[package]
name = "bitwarden-server-communication-config"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
homepage.workspace = true
repository.workspace = true
license-file.workspace = true
keywords.workspace = true

[features]
wasm = [
    "dep:tsify",
    "dep:wasm-bindgen",
    "dep:wasm-bindgen-futures",
    "dep:js-sys",
    "dep:serde-wasm-bindgen",
    "bitwarden-error/wasm",
    "bitwarden-threading/wasm",
] # WASM support

[dependencies]
bitwarden-error = { workspace = true }
bitwarden-threading = { workspace = true }
js-sys = { workspace = true, optional = true }
serde = { workspace = true }
serde-wasm-bindgen = { workspace = true, optional = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["sync"] }
tsify = { workspace = true, optional = true }
wasm-bindgen = { workspace = true, optional = true }
wasm-bindgen-futures = { workspace = true, optional = true }

[dev-dependencies]
serde_json = { workspace = true }

[lints]
workspace = true
