[package]
name = "bitwarden-rat-client"
description = "Noise Protocol remote client for Bitwarden"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
async-trait = { workspace = true }
base64 = { workspace = true }
bitwarden-error = { workspace = true }
bitwarden-noise-protocol = { workspace = true }
bitwarden-proxy = { workspace = true }
dirs = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
tokio = { workspace = true, features = ["rt-multi-thread", "macros", "time"] }

[lints]
workspace = true
