name: Build Swift Package

on:
  pull_request:
  push:
    branches:
      - "rc"
      - "hotfix-rc"
      - "main"
  workflow_dispatch:

jobs:
  version:
    name: Get Version
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    outputs:
      package_version: ${{ steps.retrieve-version.outputs.package_version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Get Package Version
        id: retrieve-version
        run: |
          VERSION=$(grep -o '^version = ".*"' Cargo.toml | grep -Eo "[0-9]+\.[0-9]+\.[0-9]+")
          echo "package_version=$VERSION" >> $GITHUB_OUTPUT

  build:
    name: Build
    runs-on: macos-14
    needs: version
    permissions:
      contents: read
    env:
      _VERSION: ${{ needs.version.outputs.package_version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install rust
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # stable
        with:
          toolchain: stable

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          key: sdk-swift-cargo

      - name: Rustup target
        run: |
          rustup target install aarch64-apple-ios-sim
          rustup target install aarch64-apple-ios
          rustup target install x86_64-apple-ios

      - name: Build
        shell: bash
        working-directory: crates/bitwarden-uniffi/swift
        id: build
        run: |
          ./build.sh

          # SHA Short
          echo "short-sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Test build demo app
        working-directory: crates/bitwarden-uniffi/swift/iOS
        run: |
          xcodebuild clean build \
            -project App.xcodeproj \
            -scheme App \
            -destination generic/platform=iOS \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO

      - name: Zip BitwardenFFI.xcframework
        run: |
          mkdir artifacts
          cp -rf crates/bitwarden-uniffi/swift/BitwardenFFI.xcframework artifacts

      - name: Upload BitwardenFFI.xcframework artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: BitwardenFFI-${{ env._VERSION }}-${{ steps.build.outputs.short-sha }}.xcframework
          path: artifacts
          if-no-files-found: error

      - name: Upload BitwardenSdk sources
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: BitwardenSdk-${{ env._VERSION }}-${{ steps.build.outputs.short-sha }}-sources
          path: crates/bitwarden-uniffi/swift/Sources/BitwardenSdk
          if-no-files-found: error

  trigger-swift-release:
    name: Trigger Swift release
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    needs: build
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Retrieve github PAT secrets
        id: retrieve-secret-pat
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: "bitwarden-ci"
          secrets: "github-pat-bitwarden-devops-bot-repo-scope"

      - name: Log out from Azure
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Trigger Swift release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ steps.retrieve-secret-pat.outputs.github-pat-bitwarden-devops-bot-repo-scope }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'bitwarden',
              repo: 'sdk-internal',
              workflow_id: 'release-swift.yml',
              ref: 'main',
              inputs: {
                'build-run-id': '${{ github.run_id }}',
                'build-run-number': '${{ github.run_number }}',
                'sdk-swift-branch-name': 'unstable',
                'update-ios-repo': 'true',
              }
            })
