name: Check Rust feature-powerset

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  build:
    name: Building for ${{ matrix.os }}

    runs-on: ${{ matrix.os || 'ubuntu-24.04' }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14
          - ubuntu-24.04
          - windows-2022

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install rust
        uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9 # stable
        with:
          toolchain: stable

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Install cargo-hack
        run: cargo install cargo-hack --version 0.6.33 --locked

      - name: Build
        run: cargo hack check --workspace --feature-powerset --no-dev-deps
        env:
          RUSTFLAGS: "-D warnings"
