name: Lint

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:

permissions: {}

env:
  CARGO_TERM_COLOR: always

jobs:
  style:
    name: Check Style

    runs-on: ubuntu-24.04

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set Rust Toolchain
        id: toolchain
        shell: bash
        run: |
          RUST_TOOLCHAIN="$(grep -oP '^channel.*"(\K.*?)(?=")' rust-toolchain.toml)"
          echo "RUST_TOOLCHAIN=${RUST_TOOLCHAIN}" | tee -a "${GITHUB_OUTPUT}"

      - name: Set Rust Nightly Toolchain
        id: nightly-toolchain
        shell: bash
        run: |
          RUST_NIGHTLY_TOOLCHAIN="$(grep -oP '^nightly-channel.*"(\K.*?)(?=")' rust-toolchain.toml)"
          echo "RUST_NIGHTLY_TOOLCHAIN=${RUST_NIGHTLY_TOOLCHAIN}" | tee -a "${GITHUB_OUTPUT}"

      - name: Install rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561 # stable
        with:
          toolchain: "${{ steps.toolchain.outputs.RUST_TOOLCHAIN }}"
          components: clippy, rustfmt

      - name: Install rust nightly
        env:
          RUST_NIGHTLY_TOOLCHAIN: ${{ steps.nightly-toolchain.outputs.RUST_NIGHTLY_TOOLCHAIN }}
        run: |
          rustup toolchain install "${RUST_NIGHTLY_TOOLCHAIN}"
          rustup component add rustfmt --toolchain "${RUST_NIGHTLY_TOOLCHAIN}"-x86_64-unknown-linux-gnu

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Cargo fmt
        env:
          RUST_NIGHTLY_TOOLCHAIN: ${{ steps.nightly-toolchain.outputs.RUST_NIGHTLY_TOOLCHAIN }}
        run: cargo +"${RUST_NIGHTLY_TOOLCHAIN}" fmt --check

      - name: Install clippy-sarif and sarif-fmt
        run: cargo install clippy-sarif sarif-fmt --locked --git https://github.com/psastras/sarif-rs.git --rev 11c33a53f6ffeaed736856b86fb6b7b09fabdfd8

      - name: Cargo clippy-sarif
        run: cargo clippy --all-features --all-targets --message-format=json |
          clippy-sarif | tee clippy_result.sarif | sarif-fmt
        env:
          RUSTFLAGS: "-D warnings"

      - name: Upload Clippy results to GitHub
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          sarif_file: clippy_result.sarif
          sha: ${{ contains(github.event_name, 'pull_request') && github.event.pull_request.head.sha || github.sha }}
          ref: ${{ contains(github.event_name, 'pull_request') && format('refs/pull/{0}/head', github.event.pull_request.number) || github.ref }}

      # Run it again but this time without the sarif output so that the
      # status code of the command is caught and reported as failed in GitHub.
      # This should be cached from the previous step and should be fast.
      - name: Cargo clippy
        run: cargo clippy --all-features --all-targets
        env:
          RUSTFLAGS: "-D warnings"

      - name: Install cargo-sort
        run: cargo install cargo-sort --version 2.0.2 --locked

      - name: Cargo sort
        run: cargo sort --workspace --grouped --check

      - name: Install cargo-udeps
        run: cargo install cargo-udeps --version 0.1.57 --locked

      - name: Cargo udeps
        env:
          RUST_NIGHTLY_TOOLCHAIN: ${{ steps.nightly-toolchain.outputs.RUST_NIGHTLY_TOOLCHAIN }}
        run: cargo +"${RUST_NIGHTLY_TOOLCHAIN}" udeps --workspace --all-features

      - name: Install cargo-dylint
        run: cargo install cargo-dylint dylint-link --version 5.0.0 --locked

      - name: Cargo dylint
        run: cargo dylint --all -- --all-features --all-targets

      - name: Check Cargo.lock unchanged
        run: |
          if git diff --exit-code Cargo.lock; then
            echo "Cargo.lock is unchanged"
          else
            echo "Error: Cargo.lock has been modified. Please run `cargo check` and commit the changes to Cargo.lock."
            exit 1
          fi

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: "npm"
          cache-dependency-path: "package-lock.json"
          node-version: "16"

      - name: NPM setup
        run: npm ci

      - name: Lint unowned dependencies
        run: npm run lint:dep-ownership

      - name: Node Lint
        run: npm run lint

      - name: Verify rust documentation links
        run: cargo doc --no-deps --all-features --document-private-items
        env:
          RUSTDOCFLAGS: "-D warnings"
