name: Test for memory leaks

on:
  pull_request:
    paths:
      - "crates/bitwarden-crypto/**"
      - "crates/memory-testing/**"
  push:
    paths:
      - "crates/bitwarden-crypto/**"
      - "crates/memory-testing/**"
    branches:
      - "main"
      - "rc"
      - "hotfix-rc"

permissions:
  contents: read

jobs:
  memory-test:
    name: Testing
    runs-on: ubuntu-24.04

    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up gdb
        run: |
          sudo apt update
          sudo apt -y install gdb

      - name: Install rust
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # stable
        with:
          toolchain: stable

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          key: memtest-cargo

      - name: Test
        run: ./crates/memory-testing/run_test.sh no-docker
