name: Version Bump
run-name: Version Bump - ${{ inputs.project }} - v${{ inputs.version_number }}

on:
  workflow_dispatch:
    inputs:
      project:
        description: "Project"
        required: true
        type: choice
        options:
          - bitwarden-core
      version_number:
        description: "New version (example: '2024.1.0')"
        required: true
      cut_rc_branch:
        description: "Cut RC branch?"
        default: false
        type: boolean

jobs:
  bump_version:
    name: "Bump ${{ inputs.project }} Version to v${{ inputs.version_number }}"
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Install rust
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # stable
        with:
          toolchain: stable

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2.7.7

      - name: Install cargo-release
        run: cargo install cargo-edit --locked

      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Retrieve secrets
        id: retrieve-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: "gh-org-bitwarden"
          secrets: "BW-GHAPP-ID,BW-GHAPP-KEY"

      - name: Log out from Azure
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Generate GH App token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ steps.retrieve-secrets.outputs.BW-GHAPP-ID }}
          private-key: ${{ steps.retrieve-secrets.outputs.BW-GHAPP-KEY }}
          repositories: sdk-internal
          permissions: >-
            contents: write
            pull-requests: write

      - name: Checkout Branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: main
          repository: bitwarden/sdk-internal
          token: ${{ steps.app-token.outputs.token }}
          persist-credentials: true

      - name: Create Version Branch
        id: create-branch
        env:
          PROJECT: ${{ inputs.project }}
          VERSION_NUMBER: ${{ inputs.version_number }}
          RUN_NUMBER: ${{ github.run_number }}
        run: |
          NAME=version_bump_${PROJECT}_${VERSION_NUMBER}_${RUN_NUMBER}
          # Delete remote branch if it exists
          git push origin --delete $NAME 2>/dev/null || true
          git switch -c $NAME
          echo "name=$NAME" >> $GITHUB_OUTPUT

      ########################
      # VERSION BUMP SECTION #
      ########################

      ### bitwarden
      - name: Bump bitwarden-core crate Version
        if: ${{ inputs.project == 'bitwarden-core' }}
        env:
          VERSION_NUMBER: ${{ inputs.version_number }}
        run: cargo set-version -p bitwarden-core "$VERSION_NUMBER"

      ############################
      # VERSION BUMP SECTION END #
      ############################

      - name: Setup git
        run: |
          git config --local user.email "106330231+bitwarden-devops-bot@users.noreply.github.com"
          git config --local user.name "bitwarden-devops-bot"

      - name: Check if version changed
        id: version-changed
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "changes_to_commit=TRUE" >> $GITHUB_OUTPUT
          else
            echo "changes_to_commit=FALSE" >> $GITHUB_OUTPUT
            echo "No changes to commit!";
          fi

      - name: Run prettier
        if: ${{ steps.version-changed.outputs.changes_to_commit == 'TRUE' }}
        run: |
          npm ci
          npm run prettier

      - name: Commit files
        if: ${{ steps.version-changed.outputs.changes_to_commit == 'TRUE' }}
        env:
          VERSION_NUMBER: ${{ inputs.version_number }}
          PROJECT: ${{ inputs.project }}
        run: git commit --no-verify -m "Bumped sdk-$PROJECT version to $VERSION_NUMBER" -a

      - name: Push changes
        if: ${{ steps.version-changed.outputs.changes_to_commit == 'TRUE' }}
        env:
          PR_BRANCH: ${{ steps.create-branch.outputs.name }}
        run: git push -u origin $PR_BRANCH

      - name: Create Version PR
        if: ${{ steps.version-changed.outputs.changes_to_commit == 'TRUE' }}
        id: create-pr
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          PR_BRANCH: ${{ steps.create-branch.outputs.name }}
          TITLE: "Bump ${{ inputs.project }} version to ${{ inputs.version_number }}"
          PROJECT: ${{ inputs.project }}
          VERSION_NUMBER: ${{ inputs.version_number }}
        run: |
          PR_URL=$(gh pr create --title "$TITLE" \
            --base "main" \
            --head "$PR_BRANCH" \
            --label "version update" \
            --label "automated pr" \
            --body "Automated $PROJECT version bump to $VERSION_NUMBER.")
          echo "pr_number=${PR_URL##*/}" >> $GITHUB_OUTPUT

      - name: Merge PR
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          PR_NUMBER: ${{ steps.create-pr.outputs.pr_number }}
        run: gh pr merge $PR_NUMBER --squash --auto --delete-branch

  cut_rc:
    name: Cut RC branch
    needs: bump_version
    if: ${{ inputs.cut_rc_branch == true }}
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout Branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: main
          persist-credentials: true

      - name: Check if RC branch exists
        run: |
          remote_rc_branch_check=$(git ls-remote --heads origin rc | wc -l)
          if [[ "${remote_rc_branch_check}" -gt 0 ]]; then
            echo "Remote RC branch exists."
            echo "Please delete current RC branch before running again."
            exit 1
          fi

      - name: Cut RC branch
        run: |
          git switch --quiet --create rc
          git push --quiet --set-upstream origin rc
